
<footer>
    <div class="footer-container container">
        <div class="footer-column">
            <h4 style="font-size:20px;">Travel Portal</h4>
            <p style="font-size:20px;">Your journey begins here. Discover and book amazing tours around the world.</p>
        </div>
      
    
<div class="footer-column">
    <h4 style="font-size:20px;">Follow Us</h4>
    <div class="social-links">
        <a href="#" style="font-size:25px;"><i class="fa fa-facebook"></i></a>
        <a href="#" style="font-size:25px;"><i class="fa fa-instagram"></i></a>
        <a href="#" style="font-size:25px;"><i class="fa fa-twitter"></i></a>
    </div>
</div>






        </div>
    </div>
    <div class="footer-bottom">
        <p style="font-size:20px;">&copy; {% now "Y" %} Travel Portal. All rights reserved.</p>
    </div>
</footer>
<!-- utils/footer.html -->
